
.header-sobrenos{
    margin-top: 80px;
    margin-left: 10%;
    margin-bottom: 0;
}
.header-sobrenos h1{
    font-size: 40px;
    margin-bottom: 0;
}
.separadores{
    position: relative;
    padding: 20px 10%;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.separadores .left{
    margin-right: 20%;
}
.separadores .left p{
    font-size: 25px;
}
.separadores .right img{
    border-radius: 20px;
}